{% extends 'base.html' %}

{% block header %}
<div class="col d-flex justify-content-center">
  <h1>{% block title %}Posts{% endblock %}</h1>
</div>
{% endblock %}
{% block content %}
<div class="row d-flex justify-content-center">
  {% for post in posts %}
    <div class="card col-5" style=" max-height:30rem; margin: 1rem; overflow:hidden">
      <header>
        <div>
          <h5 class="card-title">{{ post['title'] }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</h6>
        </div>
      </header>
      <div class="card-body">
      <p class="card-text">{{ post['body'] }}</p>
      </div>
      <div >
        {% if g.user['id'] == post['author_id'] %}
        <a href="{{url_for('blog.update',id=post['id'])}}" class="btn btn-secondary">Edit</a>
        <form  action="{{url_for('blog.delete',id=post['id'])}}" method="post"style="display: inline;">
        <input onclick="return confirm('Are you sure?')" type="submit" value="Delete"  class="btn btn-danger" >
        </form>
        {% endif %}
      </div>
    </div>
    {% if not loop.last %}
    {% endif %}
  {% endfor %}
</div>
{% endblock %}